.wrapper{
  display: flex;
}

.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
.side-header{
  height:100px;
  padding: 0px 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.user-name a{ 
font-size: 16px;
color: #fafafa;
text-decoration: none;
}

.chat-cleate a{
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  overflow: scroll;
  padding: 0 20px;
}
.room{
  padding: 20px 0 40px;

}

.rooms-name a{
color: white;
text-decoration: none;
}

.chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.chat-header{
  height: 100px;
  padding: 0px 40px;

}

.chat-main{
background-color: #fafafa;
height: calc(100vh - 190px);
padding: 46px 40px 0px;

}

.form{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}


